.gradle/
.idea/
.kotlin/
build/
local.properties
app/google-services.json
google-services.json
supabase/.temp/

*/build/
app/release/
*.apk
*.ap_
*.aab
*.iml
*.jks
*.keystore
.env
.env.*

*.DS_Store
.DS_Store
